 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
}

.computador{
    width: 100%;
    height: 150px;
    background-color: rgba(219, 217, 217, 0.897);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo{
 font-size: 60px;
 margin-left: 10px;
}

.imagen-milo{
  height: 100px; 
  width: 150; 
  border-radius: 50%;
}

.navbar{
  height: 100px;
  width: 700px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.tuboConAguapanela{
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrozConLechugaApanada{
  width: 250px;
  margin-left: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo{
    font-size: 80px;
    margin-left: 20px;
    color: black;
}

.navegador-principal{
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-radius: 5px;
}

.navegador-principal:hover{
  margin: 5px 5px 5px 5px;
  border: solid 1px black;
}

.navegador-principal,a{
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}

 i{
    margin-right: 6px;
}

.menu-registro-ingreso{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 40px;
    height: 100px;
}
.menu-registro-ingreso a{
  color: black;
}
.navegadorregistro:hover{
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
  border: solid 1px black;
}

.tolloFrescoArrozNegro{
  width: 160px;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.aireMolidoLicuado{
  width: 120px;
  height: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.navegadorOculto{
  display: flex;
  flex-direction: column;
  position: relative;
  display: none;
}

.todoMinavegadorVaAqui{
  height: auto;
  width: 250px;
  background-color: rgb(233, 232, 232);
  position: absolute;
  top: 100%;
  right: 5px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-radius: 5px;
  display: none;
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
  border: solid 1px black;
}

.ventiladorConZapatosGrandes{
   width: 100%;
   height: 55px;
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.vorParaeeuuSoyElmejor{
  color: black;
 }
 .vorParaeeuuSoyElmejor:hover{
  padding: 5px 5px 5px 5px; 
  border: solid 1px blue; border-radius: 5px;
 }

.navegadorOculto:hover .todoMinavegadorVaAqui{
   display: block;
}


.temañoDelmenuElmejor{
  font-size: 40px;
}

.navegadorregistro{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: white;
}

@media (max-width: 1280px) {
  .computador{
    height: auto;
 }

 .menu-registro-ingreso{
    margin-left: auto;
    margin-right: auto;
}

.navbar{
  width: 500px;
}
}
/* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño*/
@media (max-width: 800px) {
 .navbar{
  display: none;
 }
 .menu-registro-ingreso{
  display: none;
 }
 .navegadorOculto{
  display: block;
  margin-left: auto;
}

.imagen-adorno{
  display: none;
}

 }

/* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño como para celular*/
@media (max-width: 500px) {
  .computador{
   z-index: 10;
   width: 100%;
  }
 }









/* aqui va todo el css de delcontenedor de usuario*/

.tenisNegras{
  height: 100px;
  width: 800px;
  background-color: rgb(113, 113, 245);
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
  position: relative;
}


.contenedorPrahover{
  height: 100%;
  display: flex;
  align-items: center; 
  position: relative;
}

.ventiladorDehoroPuro{
 height: auto;
 width: auto;
 background-color: rgb(233, 232, 232);
 position: absolute;
 left: 1px;
 top: 100px;
 display: none;
 display: flex;
 border-radius: 0px 0px 5px 5px;
 box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
 border: solid 1px black;
 display: none;
}

.clasPLATAparaMIgente{
  width: 100%;
  height: auto;
  display: flex;
}

.arrozConMaiz{
  width: 250px;
  height: 300px;
  background-color: rgb(233, 232, 232);
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
  margin: 5px 5px 5px 5px;
}
.arrozConverdura{
  width: 250px;
  height: 300px;
  background-color: rgb(233, 232, 232);
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
  margin: 5px 5px 5px 5px;
}

.otroHelicoptero{
   width: 100%;
   height: 55px;
   margin-top: 5px;
   margin-bottom: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contenedorPrahover:hover .ventiladorDehoroPuro{
  display: block;
  
}


.inputFalo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.inputFalo i {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(211, 209, 209);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
}

.masGRANDEqueotros{
  margin-left: 10px;
  height: 100%;
  
  width: auto;
  display: flex;
  align-items: center;
  display: block;
}

.masGRANDEqueotros h1 {
   margin-top: 5px;
}
.masGRANDEqueotros p {
   margin-top: 5px;
}

.cieloAzulMejor{
  height: 100px;
  width: 180px;
  display: flex; 
  align-items: center;
}


.cieloAzulMejor i {
   margin-left: auto;
   margin-right: auto;
   font-size: 40px;
   color: white;
}


.contenedorPARAlahora{
  background-color: rgb(243, 240, 240);
  margin-left: 10px;
  width: 200px;
  display: flex;
  display: block;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
}

.contenedorPARAlahora p {
  text-align: center;
  font-size: 20px;
}

.pantalla-hora{
  height: 50px;
  display: flex;
  align-items: center;
}

.pantalla-hora span {
  margin-left: auto;
  margin-right: auto
}
@media (max-width: 800px) {
.tenisNegras{
 height: auto;
 width: auto;
 flex-wrap: wrap;
}

.contenedorPARAlahora{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5px;
 }
 .ventiladorDehoroPuro{
   top: 75px;
 }

}
 /* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño como para celula a 540pxr*/
@media (max-width: 540px) {
 .clasPLATAparaMIgente{
    flex-wrap: wrap;
    height: auto;
  }

  .arrozConMaiz{
    height: auto;
    width: 100%;
  }

  .arrozConverdura{
    height: auto;
    width: 100%;
  }

}
 /* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño como para celular*/
 @media (max-width: 500px) {
 .tenisNegras{
  width: 100%;
  height: auto;
  position: relative;
 }
 .contenedorPARAlahora{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 5px;
   height: 70px;
 }
  .ventiladorDehoroPuro{
       top: 75px;
     }
 }

/* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño como para celular*/
 @media (max-width: 498px){
     #paraQUITARLO{
      display: none;
     } 
     .tenisNegras{
       height: auto;
     }
     .cieloAzulMejor{
      background-color: red;
      position: absolute;
      height: 0;
      width: 0;
      top: 35px;
      right: 50px
     }

     .contenedorPARAlahora{
       margin-top: 10px;
     }
 }






/* aqui esta todo el cuerpo central de la pagina principa index.html*/

.body-elemento{
width: 100%;
height: 600px;
display: flex;
display: flex;
margin-top: 10px;
margin-bottom: 10px;
}

.cementoBlacoTransparente{
width: 100%;
height: 600px;
background-color: rgb(219, 218, 218);
margin: 0;
padding: 0;
}

.imagen-adorno{
    width: 100%;
    height: 400px;
    background-image: url("imagen/imagen-fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imagen-adorno{
    width: 50%;
    height: 600px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 250px;
    box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
}

/* CONTENEDOR */
.contenido{
  width: auto;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 10px 25px rgba(32, 32, 32, 0.4);
  padding-right: 6px;
  padding-left: 6px;
}

.contenido h2{
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: red;
}

.contenedorPARAelparrafomecancenoooo{
 width: 100%;
 height: auto;
 background-color: yellow;
 display: flex;
 flex-wrap: wrap;
}

.parrafo{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 5px;
}


.formulario-cotiza {
    width: 350px;
    margin: 50px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, sans-serif;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
    font-size: 14px;
}

.contenedorParalosErrores{
  width: 450px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.todosLOSERRORESdelBaquen{
  text-align: center;
  color: red;
  font-size: 20px;
}

.campo input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* este es el media queri de el body*/
@media (max-width: 800px) {
 
.imagen-adorno{
  display: none;
}

 }

@media (max-width: 498px){
  .cementoBlacoTransparente{
     width: 100%;
     height: auto;
  }

  .body-elemento{
    height: auto;
    width: 100%;
  }

  .campo label{
    font-size: 15px;
  }
}









/* todo el css de mi archivo  contacto.html y el archivo descarga tienen el mismo css solo en el contenedor principal*/

.contenedor-principal-arcivo-descarga{
  background-color: rgb(68, 68, 68);

}

.color-fondo{
  width: 400px;
  height: 550px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
  padding: 5px 5px 5px 5px;
}

.teclado-malo{
  width: 100%;
  height: 75px;
  background-color: rgb(235, 230, 230);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
}

.ventilador-aqui{
  color: rgb(74, 37, 238);
  font-size: 40px;
  margin-left: 5px;
}

.btn-back-milo {
   background-color: rgb(63, 59, 250);
   justify-content: center;
   align-items: center;
   margin-left: 10px;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px rgb(212, 211, 211);
   border: 1px solid rgb(61, 61, 61);

}

#identificador-css{
  margin-left: auto;
  margin-right: auto;
  margin: 5px 8px 5px 8px;
}

.btn-back-milo:hover {
    background: #3213e2;
    border: 1px solid black;
}

.cuerpo-del-encavezado{
  background-color: white;
  width: 100%;
  height: 380px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
}

.gorra-para-que-vea{
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}


.formulario{
    display:flex;
    flex-direction:column;
    gap:18px;
    padding-left: 5px;
    padding-right: 5px;
}

.grupo{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    font-weight:bold;
    color:black;
    font-size: 20px;
    margin-left: 2px;
}

input,
textarea{
    padding:14px;
    border:2px solid #cbd5e1;
    border-radius:12px;
    outline:none;
    transition:0.3s;
    font-size:15px;
}

input:focus,
textarea:focus{
    border-color:#2563eb;
    box-shadow:0 0 10px rgba(37,99,235,0.3);
}

textarea{
    resize:none;
    height:120px;
}

.boton{
    background:#2563eb;
    color:white;
    width: 250px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.boton:hover{
    background:#1d4ed8;
    transform:scale(1.03);
}

@media (max-width: 498px){
.color-fondo{
  width: 100%;
  margin-left: 1px;
  margin-right: 1px;
}
}





/* aqui va todo el css de la pagina para descargar tu soat*/

.heder-de-mi-descargasoat{
  width: 100%;
  height: 80px;
  background-color: rgb(218, 216, 216);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
}

.parrafo-informacion{
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
}

.cuerpo-div-descargasoat{
  height: auto;
  width: 100%;
  background-color: white;
  padding: 5px;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
}

.otro-cuerpo-para-descargar-soat{
  height: 200px;
  width: 100%;
  background-color: rgb(218, 216, 216);
  margin-top: 5px;
  border-radius: 5px;
  overflow-y: auto; /* scroll vertical */
  overflow-x: hidden; /* evita scroll horizontal */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

.formulario-de-descargasoat{
  width: 100%;
  height: 190px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
  border-radius: 5px;
}

.grupo-descargasoat{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.input-formulario-descargarsoat{
  width: 80%;
}

.boton-formulario-descargar-soat{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 200px;
}





/* aqui va todo el css de la pagina para ingresar.html*/

.body-de-mi-ingresarphp-elMejor{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-de-mi-ingresarphp{
  background-color: rgb(72, 72, 240);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px red;
}

.div-donde-va-mi-formulario-ingresarphp{
  width: 400px;
  height: 550px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
  margin-left: auto;
  margin-right: auto;
  border: solid 1px rgb(48, 47, 47);
}


.encavezado-de-mi-ingresar-php{
  height: 80px;
  width: 100%;
  background-color: rgb(168, 167, 167);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
}

.form-login-de-paginaweb-ingresarphp{
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgb(231, 229, 229);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parafo-para-ingresar-en-los-input{
  margin-top: 5px;
  font-size: 20px;
}

.input-y-stilo-ingresarphp{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid black;
  display: flex;
  justify-content: end;
  align-items: center;
}

.boton-de-mi-ingresarphp{
  width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
    box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
}

.recuperarcontraseña-y-ingresar-con-codigo{
  width: 100%;
  height: 250px;
  background-color: rgb(118, 118, 247);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0
  ;
}

.clase-para-recuperar-contraseña-ingresarphp{
  font-size: 18px;
  text-align: center;
}

.ingresa-mas-rapido-ingresarphp{
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.grandeMEABURROdetodolomalo{
  width: 100%;
  height: 80px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 223, 223);
}
/* cuando falle sepone el parrafo paraDarlecolorALmensajedeAvertencia y tambien grandeMEABURROdetodolomalo*/
.paraDarlecolorALmensajedeAvertencia{
  font-size: 20px;
  color: red;
  text-align: center;
}

.ingresa-mas-rapido-ingresarphp:hover{
    border-radius: 5px;
    background-color: white;
    color: black;
}
@media (max-width: 800px){
  .contenedores-de-mi-ingresarphp{
    display: none;
  }

  .body-de-mi-ingresarphp-elMejor{
    background-color: grey;
  }
}

@media (max-width: 498px){
  .div-donde-va-mi-formulario-ingresarphp{
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
  }
}







/* aqui va todo el css de la pagina para registro.html*/

.body-del-registrophp{
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-registro-para-mi-archivo-de-registro {
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 15px;
  padding: 5px;
}

.formulario-importante-para-crear{
  width: 100%;
  height: auto;
  background-color: rgb(223, 221, 221);
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.arrozcieloChanclauva{
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 4px 12px rgb(66, 66, 66);
  border: solid 2px rgb(56, 56, 252);
  color: rgb(121, 121, 121);
}

.botonDehoroZapato{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 12px rgb(66, 66, 66);
}

.lavaderoBañoDesocrateCIRIACO{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parrafoROJO{
  color: red;
  font-size: 20px;
}

@media (max-width: 498px){
  .card-registro-para-mi-archivo-de-registro{
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
  }
}





/* aqui va todo el css de la pagina para repuestacontizacion.htm*/

.loquieroCentralComoesAHORA{
   background-color: rgb(228, 226, 226);
   display: flex;
}

.mediraElciemporciento{
  width: 340px;
  height: auto;
  box-shadow: 0 4px 12px rgb(95, 95, 95);
  border-radius: 0px 0px 5px 5px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.contenedorprincipaltubosucionegro{
   height: 70px;
   width: 340px;
   background-color: rgb(172, 172, 172);
   display: flex;
   align-items: center; 
   border-radius: 5px 5px 0px 0px;
}

.mejorclaseparamicontenedorplatosucio{
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   padding-right: 5px;
   padding-left: 5px;
}

.quieroCentrarloparaquenodeProblema{
  font-size: 22px;
  text-align: center;
  margin-left: 2px;
}
.esteEsdiferenteAlotrosiSeñores{
   display: flex;
  
}

.contenedorTODOLOBUENOesmio{
  width: 100%;
  display: flex;
}

.parrafoCENTRADOotrotipo{
  font-size: 20PX;
  margin-top: 4px;
}
.parrafoCENTRADOotrotipo12{
  font-size: 20PX;
  margin-top: 4px;
  color: red;
}









/* aqui va todo el css de la pagina para confirmacionRegistro.htm*/

.body-donde-va-la-confimacionPHP{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
}

.clase-de-mi-registro-exitoso{
   width: 300px;
   height: 300px; 
   
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.confirmacion-de-regristro-correcto{
   background-color: green;
   font-size: 60px;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.parrafo-dideño-div-confirmacion{
  font-size: 20px;
  margin-top: 5px;
}








/* aqui va todo el css de la pagina para perdida-de-contraseña.php*/

.body-donde-va-perdida-de-contraseñaphp{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(189, 187, 187);
   margin-top: 100px;
}

.contenedor-principal-para-poner-el-icono-de-flecha{
  width: 100%;
  height: auto;
  background-color: rgb(197, 197, 197);
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}

.contenedor-para-saver-cual-es-perdida-de-contraseñaphp{
  width: 300px;
  height: auto;
  background-color: rgb(250, 249, 249);
  padding: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(224, 145, 145);
  justify-content: center;
  align-items: center;
}

.css-para-el-texto-perdida-de-contraseñaphp{
  text-align: center;
  font-size: 20px;
}


.verificacion-para-que-todo-funcionebien-perdida-de-contraseñaphp{
  width: 100%;
  height: auto;
  background-color: (250, 249, 249);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.div-padre-de-validacion-de-codigo-perdida-de-contraseñaphp{
 width: 260px;
 height: auto;
 background-color: rgb(36, 36, 252);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-top: 5px;
 padding-bottom: 5px;
 border-radius: 5px;
 box-shadow: 2px 2px 2px 2px rgb(238, 165, 165);
 margin-top: 5px;
 margin-bottom: 5px;
}

.parrafo-centrar-parrafo-perdida-de-contraseñaphp{
 text-align: center;
 font-size: 20px;
 color: white;
}

.codigos-paravalidar-perdida-de-contraseñaphp{
  width: 220px;
  height: 100px;
  display: flex;
  background-color: rgb(170, 170, 170);
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(44, 44, 44);
}

.digito{
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 1px 1px rgb(32, 32, 32);
  background-color: rgb(230, 228, 228);
}







/* aqui va todo el css del footer osea pies de pagina o footer */
.footer{
  height: auto;
  width: 100%;
  background-color: #3e4c5f;;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.piesFotterTECLADOnegroOblanco{
  width: 100%;
  height: auto;
  display: flex;
}

.techoMaloSiempre{
  width: 100%;
  height: auto;
  display: flex;
}

.originalManoDeHobra{
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: red;
}

.ropaROJAmojadaOsucia{
  width: 100%;
  height: 90px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrePORFAVORqueQuieroVERelcambio{
  text-align: center;
  color: white;
}

.centrePORFAVORqueQuieroVERelcambio:hover{
  padding: 4px 4px 4px 4px;
  border:  solid 2px white;
  border-radius: 5px;
}

.chanclasdeOrobañadoAbronce{
  height: auto;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items:center ;
  justify-content: center;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  color: white;
}

.imagenParaCentrarlo{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgb(238, 165, 165);
}

.carameloROJoverdeamarillo{
  font-size: 40px;
  color: white;
}

.piesFotter12345{
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: white;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgb(238, 165, 165);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hijoPiesFotter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comentarioDelosClientes{
  height: auto;
  width: 100%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px gray;
}
.hijoDecomentarioDelosClientes{
  height: 300px;
  width: 100%;
  background-color: rgb(248, 247, 247);
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px gray;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 1px;
  margin-right: 1px;
}

.bombilloRojo{
  height: 100px;
  width: 100%;
  background-color: rgb(144, 144, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  box-shadow: 2px 2px 2px 2px gray;
  margin-left: 1px;
  margin-right: 1px;
}
.tamañoMASGRANDE{
  font-size: 30px;
  color: white;
  text-align: center;
}

.bombilloRojo123{
  height: 70px;
  width: 100%;
  background-color: rgb(144, 144, 250);
  display: flex;
  align-items: center;
  margin-left: 1px;
  margin-right: 1px;
}

.zapatosToldilloNegro{
  width: 40px;
  height: 40px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgb(179, 178, 178);
  display: none;
}

.zapatosToldilloNegro:hover{
   background-color: rgb(160, 159, 159);
   color: white;
}

/*
@media (max-width: 840px) {
  
 }
 */
/* aqui va toda las media queris para cuando la pantalla este en un tamaño mas pequeño como para celular*/
 @media (max-width: 500px){
  .footer{
    width: 100%;
    flex-wrap: wrap;
  }
 }

 @media (max-width: 498px){
  .ropaROJAmojadaOsucia{
    margin-bottom: 10px;
  }
  .tamañoMASGRANDE{
    text-align: center;
  }
  .originalManoDeHobra{
    margin-top: 10px;
    width: auto;
  }
  .ropaROJAmojadaOsucia{
    height: auto;
    margin-top: 2;
  }
  .centrePORFAVORqueQuieroVERelcambio{
    font-size: 20px;
  }
  .imagenParaCentrarlo{
    height: auto;
  }
 }
 